.Login {
    margin: 0 auto;
    width: 480px;
}

.Login-title h1{
    font-weight: bold;
    text-align: center;
    color:  rgba(233, 72, 8, 0.959);
}

.alert-alert-danger {
    color: red;
    font-weight: bold;
}

.Login-header {
    width: 1600px;
    display: flex;
    align-items: center;
    background-color: rgba(233, 72, 8, 0.959);
}

.Login-Field {
    border: none;
    background: rgba(0, 0, 0, .25);
    color: #fdfdfd;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 7px;
    width: 100%;
    transition: all .1s linear;
}

#inputTitle {
    font-size: 1.2rem;
}

.Login-Field:focus {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
    outline: none;
}

.Login-Btn {
    margin-right: 220px;
    padding: 8px;
    width: 100px;
    background:  rgba(233, 72, 8, 0.959);
    color: white;
    border: none;
}

.Login-Btn:hover {
    cursor: pointer;
}

.forgot_password p {
    color: white;
    text-align: left;
}

.forgot_password {
    display: flex;
}