.Home-page {
    width: 1600px;
}

.Home-header {
    width: 1600px;
    display: flex;
    align-items: center;
    background-color: rgba(233, 72, 8, 0.959);
}

.Home-body {
    text-align: center;
    padding: 200px;
}

.Home-body h1 {
    color:  rgba(233, 72, 8, 0.959);
    font-weight: bold;
    font-size: 50px;
    background-color: rgba(212, 170, 155, 0.959);
    padding: 50px;
    width: auto;
}

.Carb-title {
    width: 200px;
    text-align: left;
    margin-left: 100px;
}

.Carb-title h1 {
    font-weight: bold;
    color: white;
}

.Btn-header {
    margin-left: 950px;
}

.Btn-login {
    margin-right: 20px;
    color: white;
}

.Btn-register {
    color: white;

}