.Home-page {
    width: 1600px;
}

.Home-header {
    width: auto;
    display: flex;
    align-items: center;
    background-color: rgba(240, 75, 10, 0.673);
}

.Home-body {
    text-align: center;
    padding: 200px;
}

.Home-body h1 {
    color: white;
    font-weight: bold;
    font-size: 50px;
    background-color: rgba(240, 75, 10, 0.673);
    padding: 50px;
    width: auto;
}

.Carb-title {
    width: 200px;
    text-align: left;
    margin-left: 100px;
}

.Carb-title h1 {
    font-weight: bold;
    color: white;
}

.Btn-header {
    margin-left: 950px;
}

.Btn-login {
    margin-right: 20px;
    color: white;
}

.Btn-register {
    color: white;

}