.Logged-Home {
    margin: 0 auto;
    width: 480px;
}

.Logged-page {
    width: 1600px;
}

.Logged-header {
    width: auto;
    display: flex;
    align-items: center;
    background-color: rgba(233, 72, 8, 0.959);
}

.Logged h1 {
    color: white;
}

.Btn-logout {
    margin-left: 150px;
    padding: 0;
    color: white;
    background-color:  rgba(233, 72, 8, 0.959);
    border: none;
}

.Btn-logout:hover {
    cursor: pointer;
}

.AddGlucose {
    text-align: center;
}

.AddGlucose-Btn {
    
    padding: 8px;
    width: 100px;
    background:  rgba(233, 72, 8, 0.959);
    color: white;
    border: none;
}

.Show-Glucoses-Value {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 480px;
    color:  rgb(121, 113, 113);
}

.ShowGlucoses-Btn {
    margin-right: 220px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 8px;
    width: 150px;
    background:  rgba(233, 72, 8, 0.959);
    color: white;
    border: none;
}