<p>Esqueceu sua senha, {{ name }}  ? Não tem problema. Só não vai esquecer a insulina em ! hahah. Utilize esse token: {{ token }} , para revalidar sua senhha </p>
<!-- Quando fizermos o frontend poderemos passar o link de acesso para recuperar a senha, ao inves de somente passar o token de forma direta -->