.Show-Glucoses-Value {
    margin: 0 500px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 500px;
    color:  rgb(255, 255, 255);
    background-color: rgba(20, 12, 12, 0.612);
}

.ShowGlucoses-Btn {
    margin-right: 220px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 8px;
    width: 150px;
    background:  rgba(233, 72, 8, 0.959);
    color: white;
    border: none;
}

.input-btn{
    text-align: center;
    background-color:  rgb(231, 231, 233);
    border-color: white;
    border-width: 2px;
    width: 150px;
    color:  rgba(233, 72, 8, 0.959);
    font-weight: 1000;
}

.updatedAt-value {
    text-align: left;
}

.createdAt-value {
    text-align: left;
}

.updatedAt-value strong {
    font-size: large;
}

.createdAt-value strong {
    font-size: large;
}

.Padrao-value h1{
    color: white;
    background-color: rgba(184, 221, 21, 0.687);
    font-weight: bold;
    border-radius: 100px;
}

.Padrao-value th{
    background-color: rgba(233, 72, 8, 0.802);
    color: rgba(0, 0, 0, 0.87);
}

.Padrao-value td{
    background-color: rgba(201, 196, 190, 0.823);
    color: rgba(0, 0, 0, 0.87);
}

.Uni-value {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.Uni-value th{
    background-color: rgba(233, 72, 8, 0.802);
    color: rgba(0, 0, 0, 0.87);
}

.Uni-value td{
    background-color: rgba(201, 196, 190, 0.823);
    color: rgba(0, 0, 0, 0.87);
}

.Hiper-value {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.Hiper-value th{
    background-color: rgba(233, 72, 8, 0.802);
    color: rgba(0, 0, 0, 0.87);
}

.Hiper-value td{
    background-color: rgba(201, 196, 190, 0.823);
    color: rgba(0, 0, 0, 0.87);
}

.Hipo-value {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.Hipo-value th{
    background-color: rgba(233, 72, 8, 0.802);
    color: rgba(0, 0, 0, 0.87);
}

.Hipo-value td{
    background-color: rgba(201, 196, 190, 0.823);
    color: rgba(0, 0, 0, 0.87);
}

.Uni-value h1{
    color: white;
    background-color: rgba(24, 169, 24, 0.707);
    font-weight: bold;
    border-radius: 100px;
}

.Hiper-value h1{
    color: white;
    background-color: rgba(228, 5, 5, 0.728);
    font-weight: bold;
    border-radius: 100px;
}

.Hipo-value h1{
    color: white;
    background-color: rgba(228, 5, 5, 0.728);
    font-weight: bold;
    border-radius: 100px;
}

.Hiper-value strong{
    color:rgb(204, 5, 5);
    font-weight: bold;
    font-size: 30px;
}

.Hipo-value strong{
    color:rgb(204, 5, 5);
    font-weight: bold;
    font-size: 30px;
}

.up-del-btn {
    text-align: center;
    width: 100%;
    max-width: 1500px;
}

.btn-edit {
    background: none;
    border: none;
}

.btn-save {
    color: green;
    background: none;
    border: none;
}

.btn-save span {
    color: orange
}

.btn-delete {
    color: red;
    background: none;
    border: none;
    margin-left: 15px;
}

ul {
    list-style-type: none;
}