.input-btn{
    text-align: center;
    background:  rgb(231, 231, 233);
    border-color: white;
    border-width: 2px;
    margin-right: 72px;
    width: 60px;
    color:  rgba(233, 72, 8, 0.959);
    font-weight: 1000;
}

.btn-edit {
    background: none;
    border: none;
    margin-left: 100px;
}

.btn-save {
    color: green;
    background: none;
    border: none;
}

.btn-save span {
    color: orange
}

.btn-delete {
    color: red;
    background: none;
    border: none;
    margin-left: 20px;
}

