body {
    background-image: url(fundo2.png);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #C0C0C0;
}
