.ResetPassword {
    margin: 0 auto;
    width: 480px;
}

.Reset-title h1{
    font-weight: bold;
    width: 500px;
    text-align: center;
    color:  rgba(233, 72, 8, 0.959);
}

.Reset-title p{
    font-weight: bold;
    text-align: center;
    color: #fdfdfdf4;
}

.Reset-header {
    width: auto;
    display: flex;
    align-items: center;
    background-color: rgba(233, 72, 8, 0.959);
}

.ResetPassword-Field {
    border: none;
    background: rgba(0, 0, 0, .25);
    color: #fdfdfd;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 7px;
    width: 100%;
    transition: all .1s linear;
}

#inputTitle {
    font-size: 1.2rem;
}

.ResetPassword-Field:focus {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
    outline: none;
}

.ResetPassword-Btn {
    padding: 8px;
    width: 150px;
    background:  rgba(233, 72, 8, 0.959);
    color: white;
    border: none;
}

.ResetPassword-Btn:hover {
    cursor: pointer;
}