.AddItem-title h1{
    font-weight: bold;
    text-align: center;
    color: white;
}

.AddItem-body {
    text-align: center;
}

.AddItem-body label{
    font-size: 20px;
    color: rgb(245, 73, 4);
    font-weight: bold;
}

.AddItem-body select{
    color: rgba(255, 255, 255, 0.639);
    background-color: none;
    font-weight: 900;
}

.AddItem-body select option{
    color: black;
    background-color: rgba(255, 255, 255, 0);
}

.AddItem-body  ::placeholder{
    color: rgba(255, 255, 255, 0.639);
}

.AddItem-Field {
    border: none;
    display: flex;
    background: rgba(0, 0, 0, .25);
    color: #fdfdfd;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 7px;
    width: 350px;
    transition: all .1s linear;
}

.AddGlucose {
    text-align: center;
}

.AddGlucose-Btn {
    margin-top: 30px;
    padding: 15px;
    width: 350px;
    background:  rgba(233, 72, 8, 0.959);
    color: white;
    border: none;
}

.SearchFood-Btn {
    padding: 8px;
    width: 100px;
    color:black;
    border: none;
}

.Table {
    margin: 50px auto 0px;
    width: 700px;
}