.AddItem-title h1{
    font-weight: bold;
    text-align: center;
    color:  rgba(233, 72, 8, 0.959);
}

.AddItem-body {
    text-align: center;
}

.AddItem-Field {
    border: none;
    display: flex;
    background: rgba(0, 0, 0, .25);
    color: #fdfdfd;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 7px;
    width: 350px;
    transition: all .1s linear;
}

.AddGlucose {
    text-align: center;
}

.AddGlucose-Btn {
    margin-top: 30px;
    padding: 15px;
    width: 350px;
    background:  rgba(233, 72, 8, 0.959);
    color: white;
    border: none;
}

.SearchFood-Btn {
    padding: 8px;
    width: 100px;
    color:black;
    border: none;
}

.Table {
    margin: 50px auto 0px;
    width: 500px;
}